# Пример переменных окружения для Next.js.
# Добавляйте сюда только те переменные, которые реально используются в проекте.
# Например:
# NEXT_PUBLIC_API_URL="https://api.example.com"
NEXT_PUBLIC_SITE_URL="https://www.bober-ai.dev"
NEXT_PUBLIC_YANDEX_METRIKA_ID=""
